.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 6rem;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.text {
  font-size: 1.5rem;
  margin-bottom: 6rem;
}

.search {
  background-color: gray;
  width: 80%;
  border-radius: 50px;

  height: 4.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(158, 154, 154);
}

.area {
  display: flex;
  align-items: center;
  background-color: rgb(158, 154, 154);
  padding-left: 2rem;
  border-radius: 50px 0px 0px 50px;
  width: 10%;
  font-weight: bold;
}

.inputText {
  background-color: rgb(158, 154, 154);
  border: none;
  color: rgb(57, 57, 57);
  width: 50%;
  padding-left: 1rem;
}
.type {
  display: flex;
  align-items: center;
  background-color: rgb(173, 173, 173);
  width: 50%;
  border-radius: 50px 50px 50px 0px;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
}

.select {
  background-color: unset;
  border: none;
}

.searchButton {
  border: none;
  background-color: unset;
  color: white;
}

.buttonContainer {
  display: flex;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: rgb(51, 50, 49);
  border-radius: 50px 50px 50px 0px;
  padding-left: 2rem;
}
.advancedSearch {
  width: 80%;
  justify-content: flex-end;
  display: flex;
  margin-top: 0.5rem;
  text-decoration: underline;
  cursor: pointer;
}

.selectContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 5%;
  gap: 12%;
}

.findContainer {
  background-color: rgb(255, 255, 255);
  width: 48%;
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgb(219, 218, 218);
  border: none;
  cursor: pointer;
  flex-direction: column;
}

.rentContainer {
  background-color: rgb(255, 255, 255);
  width: 48%;
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgb(219, 218, 218);
  border: none;
  cursor: pointer;
  flex-direction: column;
}

.select {
  color: black;
}

.informationContainer {
  display: flex;
  flex-direction: row;
  margin-top: 8%;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: white;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 0 10px 5px rgb(219, 218, 218);
}

.informationText {
  width: 45vw;
  padding: 5%;
  background-color: white;
  border-radius: 20px;
}

.informationImg {
  width: 45vw;
}

.quotesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.quotesTitle {
  margin-top: 5%;
  margin-bottom: 5%;
}

.quoteImg {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 18rem;
}

.formContainer {
  display: flex;
  width: 100%;
}
/* Mobile */
@media only screen and (min-width: 375px) {
  .title {
    margin-top: 6rem;
    font-size: 2rem;
    text-align: center;
  }
  .text {
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 1rem;
  }
  .formContainer {
    flex-direction: column;
  }
  .selectContainer {
    padding-left: unset;
    padding-right: unset;
  }
}
/* Tablet */
@media only screen and (min-width: 700px) {
}
