:root {
  --font-main: Avenir;
  --font-main-title: dinosaur bold;
  --font-titles: dinosaur regular;
  --darkblue: #002f8a;
  --blue: #86afff;
  --lightblue: #c7daff;
  --lighterblue: #e4edff;
}

@font-face {
  font-family: "dinosaur regular";
  src: url("https://use.typekit.net/af/8b249a/00000000000000003b9b019e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/8b249a/00000000000000003b9b019e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/8b249a/00000000000000003b9b019e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "dinosaur bold";
  src: url("https://use.typekit.net/af/926fbb/00000000000000003b9b01a3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/926fbb/00000000000000003b9b01a3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/926fbb/00000000000000003b9b01a3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

* {
  box-sizing: border-box;
}
body {
  background: rgb(255, 255, 255);
  margin: 0;
  font-family: var(--font-titles);
}

nav {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: black;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 5%;
  box-shadow: 0 0 10px 5px rgb(219, 218, 218);
  z-index: 1;
  position: relative;
}

.loginContainer {
  background-color: var(--darkblue);
  padding: 1rem 2rem;
  border-radius: 2rem;
  height: 45px;
  width: 136px;
  display: flex;
  align-items: center;
}

.loginContainer a {
  color: white;
}
.iconNav {
  width: 52px;
  cursor: pointer;
}
nav .homeIcon {
  margin-right: auto;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: var(--font-titles);
  font-size: 20px;
}
.burgerMenu {
  display: none;
}
.container {
  max-width: 100vw;
  margin: 0 auto;
}

h1 {
  font-size: 110px;
  font-family: var(--font-main-title);
  color: var(--darkblue);
}
::placeholder {
  color: var(--darkblue);
  font-family: var(--font-main);
  font-size: 18px;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 44px;
}

h4 {
  font-size: 28px;
}

Footer {
  margin-top: 60px;
  /* background: gray; */
  border-radius: 20px 0px 0px 0px;
}

.FooterContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: 350px;
  background-color: var(--lighterblue);
  border-radius: 20px 0 0 0;
}
.iconNavFooter {
  width: 74px;
}
.FooterLogo {
  align-self: center;
  width: 50%;
  text-align: center;
}

.FooterContact {
  background-color: var(--lightblue);
  display: flex;
  flex-direction: column;
  width: 50%;

  align-items: center;
  border-radius: 20px 0px 0px 0px;
  padding-top: 3rem;
}

.logoText {
  font-family: var(--font-main-title);
  font-size: 36px;
  color: var(--darkblue);
  margin: 5px;
}

.TextContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  font-family: var(--font-main);
}

.contactContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: var(--lightblue);
  border-radius: 20px 0 0 0;
}

.FooterContactUs {
  font-weight: bold;
  font-size: 1.5rem;
}
.bold {
  display: inline;
  font-weight: bold;
  padding-right: 1rem;
  font-family: var(--font-main);
}
.thin {
  display: inline;
}
.FooterSocial {
  text-align: center;
  padding-top: 3rem;
  width: 50%;
  background-color: var(--blue);
  border-radius: 20px 0 0 0;
}

.FooterKollektiva {
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 20px 0px 0px 0px;
}

.FooterInformation {
  width: 100%;
  background-color: var(--darkblue);
  color: white;
}

.adressContainer {
  display: flex;
}

.Policies {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  text-decoration: underline;
  font-family: var(--font-main);
  padding-top: 1rem;
}

.CopyRight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: var(--font-main);
}

/* Mobile */
@media only screen and (max-width: 475px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 18px;
  }
  .iconNav {
    width: 32px;
  }
  .loginContainer {
    display: none;
  }
  a {
    display: none;
  }
  .burgerMenu {
    display: flex;
  }
  .FooterContainer {
    display: flex;
    flex-direction: column;
    height: 640px;
  }
  .iconNavFooter {
    width: 46px;
  }
  .logoText {
    font-size: 28px;
  }
  .FooterLogo img {
    height: 71px;
    padding-top: 1rem;
  }
  .TextContainer {
    gap: 1rem;
    width: unset;
  }

  .contactContainer {
    display: block;
  }
  .FooterContact {
    width: 100%;
    padding-bottom: 31px;
    padding-top: 1rem;
  }
  .FooterSocial {
    width: 100%;
    padding: 0.8rem;
  }
}
/* Tablet */
@media only screen and (min-width: 700px) {
}
