.pageNavigate {
  margin-top: 0.5rem;
  margin-left: 2rem;
  font-size: 20px;
  font-weight: 500;
}

.mainTitle {
  padding-left: 23%;
  margin-bottom: 0;
  color: var(--darkblue);
  font-family: var(--font-main-title);
}

.breadText {
  padding-left: 23%;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 20px;
}

.parentContainer {
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 40px;
}

.leftContainer {
  width: 17%;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.stepOne {
  background-color: var(--lighterblue);
  border-radius: 0px 25px 25px 0px;
  height: 107px;
}

.active {
  background-color: var(--blue);
  border-radius: 0px 25px 25px 0px;
  height: 107px;
}

.stepActive {
  padding-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1rem;
}

.step {
  padding-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1rem;
}

.stepInfo {
  padding-left: 1rem;
}

.rightContainer {
  background-color: none;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info {
  background-color: var(--lighterblue);
  border-radius: 25px;
  padding-bottom: 3rem;
  padding-left: 3rem;
  width: 97%;
  margin-left: 2rem;
}

.title {
  color: var(--darkblue);
  font-size: 44px;
  font-family: var(--font-main-title);
}

.inputFormDate {
  display: flex;
  flex-direction: row;
  width: 85%;
}

.inputField {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  width: 95%;
}

.moreInfo {
  font-size: 28px;

  margin-bottom: 1rem;
  font-weight: 500;
}

.titleField {
  font-size: 20px;
  font-weight: 500;
}

.textField {
  border-radius: 200px;
  border: none;
  height: 60px;
  padding-left: 1rem;
  margin-top: 1rem;
  border: 1px solid #808080;
  width: 100%;
}

.radioContainer {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 70%;
}

.radioButtons {
  font-size: 20px;
  align-items: center;
  display: flex;
  width: 90vw;
}

.checked {
  height: 40px;
  width: 40px;
  padding-right: 0.5rem;
  margin-right: 1rem;
}

.inputFormMoveOut {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  width: 85%;
}

.costField {
  border-radius: 200px;
  border: none;
  height: 60px;
  padding-left: 1rem;
  margin-top: 20px;
  border: 1px solid #808080;
  width: 30%;
  word-spacing: 7rem;
  margin-bottom: 1rem;
}

.labelField {
  margin-bottom: 2rem;
  font-size: 20px;
  font-weight: 400;
}

.textArea {
  border-radius: 20px;
  height: 300px;
  padding-left: 1rem;
  padding-top: 1rem;
  margin-top: 1rem;
  font-family: Avenir;
  color: var(--darkblue);
  border: 1px solid var(--darkblue);
}

.dragNdrop {
  background-color: #ffff;
  border: 2px dashed var(--darkblue);
  border-radius: 20px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  gap: 1rem;
}

.imageDrop {
  width: 73px;
  height: 68.44px;
}

.textDrop {
  font-weight: 400;
  font-size: 20px;
}

.buttonDrop {
  background: var(--darkblue);
  border-radius: 200px;
  border: none;
  width: 18%;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.dropedImages {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 5%;
  justify-content: space-between;
}

.imageItem {
  width: 130px;
  height: 130px;
  background-color: #c4c4c4;
  border-radius: 20px;
  display: inline-block;
  margin: 29px;
}

.columnButton {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.save {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
  padding-right: 1rem;
  gap: 44%;
}

.buttons {
  width: 190px;
  height: 68px;
  background-color: var(--darkblue);
  border-radius: 200px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.button {
  width: 250px;
  height: 68px;
  color: white;
  border-radius: 200px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  background-color: var(--darkblue);
}

/* Mobile */
@media only screen and (max-width: 475px) {
  .pageNavigate {
    font-size: 18px;
    margin-left: 20px;
  }
  .mainTitle {
    font-size: 40px;
    padding-left: 16px;
  }
  .breadText {
    padding-left: 16px;
    padding-right: 28px;
    margin-top: 10px;
    font-size: 18px;
  }
  .parentContainer {
    display: flex;
    justify-content: center;
  }
  .leftContainer {
    display: none;
  }
  .rightContainer {
    width: 90%;
  }
  .info {
    margin: 0;
    padding-left: 0;
    width: 100%;
  }
  .title {
    font-size: 32px;
    margin-left: 16px;
  }
  .inputFormDate {
    flex-direction: column;
    margin-left: 16px;
  }
  .titleField {
    font-size: 18px;
  }
  .textField {
    margin-bottom: 24px;
    border: 1px solid var(--darkblue);
    color: var(--darkblue);
  }
  .moreInfo {
    font-size: 24px;
    margin-left: 16px;
  }
  .radioContainer {
    margin-left: 10px;
    gap: 0;
  }
  .radioButtons {
    margin-bottom: 30px;
    display: flex;
  }
  .inputFormMoveOut {
    flex-direction: column;
    margin-left: 16px;
  }
  .costField {
    width: 75%;
    word-spacing: 7rem;
    margin-left: 16px;
  }
  .labelField {
    font-size: 18px;
    margin-left: 16px;
  }

  .labelTitle {
    width: 50vw;
  }
  .textArea {
    margin-left: 16px;
  }
  .dragNdrop {
    margin-left: 16px;
    width: 90%;
  }
  .buttonDrop {
    width: 40%;
  }
  .save {
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }
  .buttons {
    width: 260px;
  }
  .button {
    width: 260px;
    margin-bottom: 1rem;
  }
}
