.pageNavigate {
  margin-top: 0.5rem;
  margin-left: 2rem;
  font-size: 20px;
  font-weight: 500;
}

.mainTitle {
  padding-left: 23%;
  color: var(--darkblue);
}

.breadText {
  padding-left: 23%;
}

.test {
  color: rgb(90, 116, 124);
}

.parentContainer {
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 40px;
}

.leftContainer {
  /* background-color: rgb(244, 255, 182); */
  width: 17%;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.rightContainer {
  background-color: none;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.rightContainer img {
  height: 40px;
}

.stepOne {
  background-color: var(--lighterblue);
  border-radius: 0px 25px 25px 0px;
  height: 107px;
}

.stepActive {
  padding-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1rem;
}

.active {
  background-color: var(--blue);
  border-radius: 0px 25px 25px 0px;
  height: 107px;
}

.info {
  background-color: var(--lighterblue);
  border-radius: 25px;
  padding-bottom: 3rem;
  padding-left: 3rem;
  width: 100%;
  margin-left: 2rem;
}

.InfoType {
  font-weight: 500;
}

.stepInfo {
  padding-left: 1rem;
}

.step {
  padding-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1rem;
}

.inputField {
  display: flex;
  flex-direction: column;
}

.adress {
  font-size: 28px;
}

.amentiesContainer {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  width: 300px;
  object-fit: fill;
}

.amentiesRow {
  display: flex;
  gap: 2rem;
  flex-direction: row;
}

.amentiesItem {
  width: 143px;
  height: 143px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: none;
  margin-right: 57px;
  margin-bottom: 40px;
}

.save {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 4rem;
  margin-left: 2rem;
}

.buttons {
  width: 175px;
  height: 68px;
  background-color: rgb(212, 212, 212);
  border-radius: 200px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  background-color: var(--darkblue);
  color: white;
}

@media only screen and (max-width: 475px) {
  .pageNavigate {
    margin-left: 20px;
  }

  .leftContainer {
    display: none;
  }

  .mainTitle {
    padding-left: 16px;
    font-size: 40px;
  }

  .save {
    display: flex;
    /* justify-content: space-between; */
    width: 100vw;
    padding-top: 4rem;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    gap: 1rem;
  }

  .buttons {
    width: 282px;
  }
  .title {
    font-size: 32px;
  }

  .InfoType {
    font-size: 18px;
    font-weight: 500;
  }

  .breadText {
    padding-left: 16px;
  }

  .info {
    margin-left: 16px;
    padding-left: 16px;
    padding-right: 16px;
    width: 90vw;
  }

  .amentiesItem {
    margin-right: 15px;
    margin-left: 15px;
  }
}
