.pageNavigate {
  margin-top: 0.5rem;
  margin-left: 2rem;
  font-size: 20px;
  font-weight: 500;
}
.mainTitle {
  padding-left: 25%;
  margin-bottom: 0;
}
.breadText {
  padding-left: 25%;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 20px;
}
.parentContainer {
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 40px;
}
.leftContainer {
  width: 30%;
  gap: 40px;
  display: flex;
  flex-direction: column;
}
.stepOne {
  background-color: rgb(218, 216, 216);
  border-radius: 0px 25px 25px 0px;
}

.active {
  background-color: rgb(75, 72, 72);
  border-radius: 0px 25px 25px 0px;
}
.stepActive {
  padding-left: 1rem;
  margin-bottom: 8px;
}
.step {
  padding-left: 1rem;
  margin-bottom: 8px;
}
.stepInfo {
  padding-left: 1rem;
}
.rightContainer {
  background-color: none;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.info {
  background-color: #dedede;
  border-radius: 25px;
  margin-right: 40px;
}
.title {
  margin: 40px;
}
.inputFormDate {
  display: flex;
  flex-direction: row;
}
.inputField {
  display: flex;
  flex-direction: column;
  margin: 0 40px 0 40px;
}
.moreInfo {
  font-size: 28px;
  margin-left: 5%;
  margin-bottom: 1rem;
  font-weight: 500;
}
.titleField {
  font-size: 20px;
  font-weight: 500;
}
.textField {
  border-radius: 200px;
  border: none;
  height: 60px;
  padding-left: 1rem;
  margin-top: 1rem;
  border: 1px solid #808080;
  width: 100%;
}
.radioContainer {
  margin: 0 40px 0 40px;
}
.radioButtons {
  font-size: 20px;
}
.checked {
  height: 20px;
  width: 40px;
  padding-right: 0.5rem;
}
.inputFormMoveOut {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
}
.costField {
  border-radius: 200px;
  border: none;
  height: 60px;
  padding-left: 1rem;
  margin-top: 20px;
  border: 1px solid #808080;
  width: 30%;
  word-spacing: 7rem;
  margin-bottom: 1rem;
}
.labelField {
  margin-bottom: 2rem;
  font-size: 20px;
  font-weight: 400;
}
.textArea {
  border-radius: 20px;
  height: 300px;
  padding-left: 1rem;
  padding-top: 1rem;
  margin-top: 1rem;
  font-family: Avenir;
}

.dragNdrop {
  background-color: #e9e9e9;
  border: 1px dashed #808080;
  border-radius: 20px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4%;
  gap: 1rem;
}
.imageDrop {
  width: 73px;
  height: 68.44px;
}
.textDrop {
  font-weight: 400;
  font-size: 20px;
}
.buttonDrop {
  background: #b3b3b3;
  border-radius: 200px;
  border: none;
  width: 18%;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.dropedImages {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 5%;
  justify-content: space-between;
}
.imageItem {
  width: 130px;
  height: 130px;
  background-color: #c4c4c4;
  border-radius: 20px;
}
.columnButton {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.save {
  display: flex;
  justify-content: end;
  padding-top: 4rem;
  padding-right: 1rem;
  gap: 44%;
}

.buttons {
  width: 190px;
  height: 68px;
  background-color: rgb(212, 212, 212);
  border-radius: 200px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
}
.button {
  width: 250px;
  height: 68px;
  background-color: rgb(212, 212, 212);
  border-radius: 200px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
}

/* Mobile */
@media only screen and (max-width: 475px) {
  .pageNavigate {
    font-size: 18px;
    margin-left: 1rem;
  }
  .mainTitle {
    font-size: 40px;
    padding-left: 16px;
  }
  .breadText {
    padding-left: 16px;
    padding-right: 28px;
    margin-top: 10px;
    font-size: 18px;
  }
  .leftContainer {
    display: none;
  }
  .rightContainer {
    width: 90%;
    margin: 1rem;
  }
  .info {
    margin-right: 0;
  }
  .title {
    margin-left: 5%;
  }
  .inputFormDate {
    flex-direction: column;
  }
  .titleField {
    font-size: 18px;
  }
  .textField {
    margin-bottom: 24px;
  }
  .moreInfo {
    font-size: 24px;
  }
  .radioButtons {
    margin-bottom: 30px;
    display: flex;
  }
  .inputFormMoveOut {
    flex-direction: column;
  }
  .costField {
    width: 85%;
  }
  .labelField {
    font-size: 18px;
  }
}
