.pageNavigate {
  margin-top: 0.5rem;
  margin-left: 2rem;
  font-size: 20px;
  font-weight: 500;
}
.mainTitle {
  padding-left: 23%;
  margin-bottom: 0;
  font-size: 52px;
  color: var(--darkblue);
  font-family: var(--font-main-title);
}
.breadText {
  padding-left: 23%;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 20px;
}

.parentContainer {
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 40px;
}

.leftContainer {
  width: 17%;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.rightContainer {
  background-color: none;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.stepOne {
  background-color: var(--lighterblue);
  border-radius: 0px 25px 25px 0px;
  height: 107px;
}

.active {
  background-color: var(--blue);
  border-radius: 0px 25px 25px 0px;
  height: 107px;
}

.stepActive {
  padding-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1rem;
}

.step {
  padding-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1rem;
}

.stepInfo {
  padding-left: 1rem;
}

.info {
  background-color: var(--lighterblue);
  border-radius: 25px;
  padding-bottom: 3rem;
  padding-left: 3rem;
  width: 97%;
  margin-left: 2rem;
}

.title {
  margin: 40px;
  font-size: 44px;
  color: var(--darkblue);
  font-family: var(--font-main-title);
}

.inputField {
  display: flex;
  flex-direction: column;
  margin: 0 40px 0 40px;
}

.adress {
  font-size: 28px;
  font-weight: 500;
}

.adressField {
  border-radius: 200px;
  border: none;
  height: 60px;
  padding-left: 2rem;
  margin-top: 20px;
  border: 1px solid var(--darkblue);
  width: 80%;
}

.inputFields {
  display: flex;
  flex-direction: row;
  margin: 40px;
  gap: 2rem;
}

.number {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.inputName {
  font-size: 28px;
  font-weight: 500;
}

.city {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cityField {
  border-radius: 200px;
  border: none;
  height: 60px;
  padding-left: 2rem;
  margin-top: 20px;
  width: 73%;
  border: 1px solid var(--darkblue);
}

.moreInfo {
  margin-left: 5%;
  margin-bottom: 1rem;
  font-weight: 500;
}

.InfoType {
  font-size: 28px;
  margin-left: 5%;
  margin-bottom: 1rem;
  font-weight: 500;
}

.radioContainer {
  display: flex;
  margin: 0 40px 0 40px;
  justify-content: space-between;
  width: 70%;
}

.radioButtons {
  font-size: 20px;
  align-items: center;
  display: flex;
}

.checked {
  height: 40px;
  width: 40px;
  padding-right: 0.5rem;
  margin-right: 1rem;
}

.metresField {
  border-radius: 200px;
  border: none;
  height: 60px;
  padding-left: 1rem;
  margin-top: 20px;
  border: 1px solid var(--darkblue);
  width: 30%;
  word-spacing: 12rem;
  margin-bottom: 2rem;
}

.furnitureContainer {
  display: flex;
  margin: 0 40px 0 40px;
  gap: 40%;
  margin-bottom: 2rem;
  width: 65%;
}

.save {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
  padding-right: 1rem;
  gap: 44%;
}

.buttons {
  width: 175px;
  height: 68px;
  background-color: var(--darkblue);
  color: white;
  border-radius: 200px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
}

.counterContainer {
  display: flex;
  flex-direction: row;
  height: 59px;
  width: 290px;
  border: 1px solid var(--darkblue);
  color: var(--darkblue);
  border-radius: 200px;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  background-color: white;
  margin-bottom: 2rem;
}

.minus {
  width: 44px;
  height: 40px;
  border-radius: 100%;
  margin-left: 2%;
  font-size: 25px;
  border: 1px solid var(--darkblue);
  color: var(--darkblue);
  background-color: white;
  cursor: pointer;
}

.plus {
  width: 44px;
  height: 40px;
  border-radius: 100%;
  margin-right: 2%;
  font-size: 25px;
  border: 1px solid var(--darkblue);
  color: var(--darkblue);
  background-color: white;
  cursor: pointer;
}

/* Mobile */
@media only screen and (max-width: 475px) {
  .pageNavigate {
    font-size: 18px;
    margin-left: 20px;
  }

  .parentContainer {
    display: flex;
    justify-content: center;
  }

  .mainTitle {
    font-size: 40px;
    padding-left: 16px;
  }
  .breadText {
    padding-left: 16px;
    padding-right: 28px;
    margin-top: 10px;
    font-size: 18px;
  }
  .leftContainer {
    display: none;
  }
  .rightContainer {
    width: 90%;
    /* margin: 1rem; */
  }

  .info {
    margin: 0;
    padding-left: 0;
    width: 100%;
  }

  .inputFields {
    flex-direction: column;
    margin: 20px;
  }
  .number {
    width: 100%;
  }
  .adress {
    font-size: 24px;
    font-weight: 400;
  }
  .adressField {
    width: 100%;
  }

  .inputName {
    font-size: 24px;
    font-weight: 400;
  }
  .InfoType {
    display: none;
  }
  .title {
    margin-left: 5%;
    font-size: 32px;
  }
  .moreInfo {
    /* font-weight: 400; */
  }
  .radioContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 5%;
  }
  .inputField {
    margin: 20px;
    font-weight: 500;
  }
  .metresField {
    width: 80%;
    word-spacing: 11rem;
  }
  .furnitureContainer {
    flex-direction: column;
    gap: 2rem;
    margin-left: 5%;
  }
  .save {
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    gap: 1rem;
  }
  .buttons {
    width: 210px;
    height: 55px;
  }
  .counterContainer {
    height: 59px;
    width: 260px;
  }

  .cityField {
    width: 100%;
  }
}
